@import url("reset.css");
@import url("main.css");

.demo__float-box {
    width: 150px;
    height: 100px;
    background-color: #bee5eb;
    border: 2px solid #0c5460;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    color: #0c5460;
    font-weight: bold;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.demo__clear-box {
    background-color: #f5c6cb;
    border: 2px solid #721c24;
    padding: 10px;
    margin-top: 20px;
    font-weight: bold;
}

.clear-both {
    clear: both;
}