@import url("reset.css");
@import url("main.css");

.demo__overflow-box {
    width: 300px;
    height: 100px;
    margin: 20px 0;
    padding: 10px;
    border: 2px solid #343a40;
    background-color: #e2e3e5;
    font-size: 14px;
    box-sizing: border-box;
}

.overflow-visible {
    overflow: visible;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-scroll {
    overflow: scroll;
}

.overflow-auto {
    overflow: auto;
}