@import url("./main.css");

.article {
    padding: 50px 0;
}

.article__container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
}

.article__image {
    width: 100%;
}

.article__image:not(:last-child) {
    margin-bottom: 50px;
}

.article__image img {
    width: 70%;
}

.article__text {
    font-size: 20px;
    line-height: 150%;
}

.article__text p:not(:last-child) {
    margin-bottom: 30px;
}