@import url("./main.css");

.contacts {
    padding: 50px 0;
    font-size: 20px;
}
    
.contacts__container, .form-section__container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
}

.contacts__subtitle {
    font-size: 40px;
    font-weight: 700;
}

.contacts__subtitle:not(:last-child) {
    margin-bottom: 30px;
}

.contacts__list {
}

.contacts-list {
}

.contacts-list__item {
}

.contacts-list__item:not(:last-child) {
    margin-bottom: 15px;
}

.contacts-list__link:hover {
    text-decoration: underline;
}

.form-section {
    padding: 100px 0;
}

.form-section__title {
    font-size: 40px;
    font-weight: 700;
}

.form-section__title:not(:last-child) {
    margin-bottom: 30px;
}

.form-section__form {
}


.form {
    font-size: 20px;
}

.form__fields-wrapper {
    display: flex;
    gap: 30px;
}

.form__fields-wrapper:not(:last-child) {
    margin-bottom: 50px;
}

.form__fieldset {
    width: calc(50% - 15px)
}

.form__fieldset:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form__legend {
    font-size: 25px;
    line-height: 150%;
}

.form__legend:not(:last-child) {
    margin-bottom: 15px;
}

.form__group {
    display: flex;
    flex-direction: column;
}

.form__group:not(:last-child) {
    margin-bottom: 30px;
}

.form__label {
    font-weight: 600;
}

.form__label:not(:last-child) {
    margin-bottom: 15px;
}

.form__input, .form__textarea, .form__select {
    padding: 15px;
    border: 1px solid #000;
}

.form__textarea {
    line-height: 150%;
}

.form__select {
    font-size: 20px
}

.form__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.form__button {
    color: #fff;
    background-color: #000;
    padding: 15px 30px;
    transition: background-color 0.3 ease;
}

.form__button:hover {
    background-color: #4e4e4e;
}