@import url("./styles/reset.css");
@import url("./styles/main.css");

.hero {
    padding: 150px 0;
}

.hero__container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero__title {
    font-size: 70px;
    font-weight: 700;
    max-width: 850px;
}

.hero__title:not(:last-child) {
    margin-bottom: 50px;
}

.hero__text {
    font-size: 20px;
    max-width: 600px;
    line-height: 150%;
}

/* test commit */